html {
  background: url('../images/leadsinger.jpg');
}
.logo {
  padding-left: 5px;
  margin-top: -8px;
  letter-spacing: 1.2px;
  font-family: 'Signika';
  font-weight: 200;
  font-size: 20px;
  color: #FFFFFF;
}
.gradient-container {
  margin: auto;
  height: 300px;
  width: 300px;
  color: #FF0000;
}
